@import url(https://use.typekit.net/kld8gdm.css);

* {
  box-sizing: border-box;
}

:root {
  --accent-color: #ff6f00;
  --light-color: #ffffff;
  --dark-color: #020f59;
}

channel {
  text-align: center;
  display: block;
  width: 100%;
  min-height: 100vh;
  background: var(--light-color);
  font-family: europa, sans-serif;
  padding: 2rem;
  color: var(--dark-color);
  position: relative;
  z-index: 2;
  overflow: hidden;
	margin: 0;
}

channel:after{
	content:"IMPORTANT! If the link you've used to visit this page ends in .XML, your feed will not update tomorrow.  Please do not copy or save links to deltazeus ending in .XML.  It is normal for the page to automatically add .XML after loading.";
	display: block;
	margin: 1rem auto;
	max-width: 600px;
}

channel > * {
	display:none;
}

channel > title {
	display:inline-block;
	font-size: 3.2em;
	color:var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
	position: relative;
	padding-bottom: 1rem;
	font-weight: 700;
}

item {
	display:none;
}

item:last-child {
	display: block;
	max-width: 600px;
	margin: 0 auto;
}

item:last-child > * {
	display: none;
}

/* content:encoded */
item:last-child > encoded {
	display: block;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	padding: 1rem;
	white-space: pre-line;
	text-align: left;
	line-height: 2;
}

item:last-child > link {
	margin-top: 1rem;
	display: inline-block;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  word-break: break-all;
}

item:last-child > pubDate {
	display: inline-block;
	color: var(--accent-color);
	padding-top: 1rem;
}
