* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(0, 0, 150);
  color: #fff;
  font-family: europa, sans-serif;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  background-color: #ff6f00;
  color: #fff;
  font: inherit;
  border: 0;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.headerLogo .dz-logomark {
  fill: currentcolor;
  width: 12rem;
  filter: drop-shadow(12px 8px 0 #ff6f00);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header:before,
header:after {
  content: '';
  background-image: url(clouds.png);
  background-size: 700px 100%;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 50%;
  background-position: 0%;
  height: 50%;
}

header::before {
  transform: translateY(-50%);
  animation: drift 120s linear infinite;
  opacity: .05;
  margin-top: -1rem;
}

header:after {
  transform: translateY(-50%) scaleY(-1);
  animation: drift 210s -66s linear infinite;
  opacity: .1;
  margin-top: 1rem;
}

@keyframes drift {
  from { background-position: 0%;}
  to { background-position: -700px ;}
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  max-width: 400px;
  position: relative;
  z-index: 3;
}

h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 0.75;
  letter-spacing: 0.5rem;
}

.controls {
  display: flex;
  flex-direction: column-reverse;
}

.hiddenCheckbox {
  visibility: hidden;
}

.controls label {
  color: #ff6f00;
  font: inherit;
  background: transparent;
  border: 0;
  text-decoration: underline;
  margin-top: 0.5rem;
  padding: 0;
  cursor: pointer;
  font-size: .8rem;
  user-select: none;
}

.controls label:after {
  content: ' postal code'
}

.hiddenCheckbox:checked ~ label:after {
  content: ' geolocation'
}

.inputWrapper {
  background: #fff;
  border-radius: 3px;
  display: inline-flex;
  margin-top: 2rem;
  padding: 8px;
}

.postalCode {
  background: transparent;
  color: #000;
  border: 0;
  flex: 1;
  font: inherit;
  font-size: 1.2rem;
  padding: 0;
  width: 0;
  text-indent: 0.5rem;
  transition: 0.218s ease;
}

.hiddenCheckbox:checked ~ .inputWrapper .postalCode {
  width: 12ch;
}

.postalCode:focus {
  outline: 0;
}

.logo {
  padding: 2rem;
}

section {
  background-color: #020f59;
}

.success {
  background-color: #fff;
  color: #020f59;
  display: none;
}

.success.show {
  display: block;
}

.feedLink {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.feedLink span {
  opacity: 0;
  padding: 0 1rem;
  transition: .218s ease;
}

.feedLinkCopy.copied + span {
  opacity: 1;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

h2 {
  margin: 0;
}

h3 {
  text-decoration: underline;
}

article {
  max-width: 656px;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  background-color: #020f59;
  padding: 4rem 2rem;
}

footer > div {
  display: flex;
  max-width: 656px;
  margin: 0 auto;
  padding: 2rem;
}

footer a {
  color: #ff6f00;
  display: block;
}

footer h4 {
  margin: 2rem 0 0;
}

.footerLogo {
  display: flex;
  flex: 1;
}

.footerLogo .dz-logomark {
  fill: #000;
  opacity: .2;
  width: 6rem;
  margin: auto;
}