---
import Head from "@components/Head.astro";
import Clouds from '@components/Clouds.astro';
import Panel from "@components/Panel.astro";
import Lockup from "@components/Lockup.astro";
import Form from "@components/Form.astro";
---


<!doctype html>
<html lang="en">
  <Head/>
  <body>
	  <Clouds/>
    <Panel>
      <Lockup/>
      <Form/>
    </Panel>
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>