---
import Page from '@layouts/Page.astro';
import Lockup from "@components/Lockup.astro";
import Form from "@components/Form.astro";
---
<style>
  a {
    display: inline-block;
    margin-block-start: 8px;
    font-size: .8em;
  }
</style>

<Page>
  <Lockup/>
  <Form/>
  <a href="/about">Learn about deltazeus</a>
</Page>