<style>
    #clouds {
        inset: 0;
        background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
        position: fixed;
    }
</style>

<div id="clouds"></div>

<script src="./clouds.js"></script>