<style>
    #clouds {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%)
    }
</style>

<div id="clouds"></div>

<script src="./clouds.js"></script>