---
import Cloudy from '@components/cloudy.svg';
import Stormy from '@components/stormy.svg';

const normalize = (url: string) => {
  if (url === "/") return url;
  return url.replace(/\/$/, "");
};

const mapping = {
    '/': {
        label: 'Learn about deltazeus',
        link: '/about'
    },
    '/about': {
        label: 'Get your feed',
        link: '/'
    }
} as Record<string, { label: string, link: string }>
const path = normalize(Astro.url.pathname);
const { link, label } = mapping[path] || {};
---

<style>
    footer {
        display: flex;
        gap: 16px;
        margin-block-start: 8px;
        font-size: .8em;
        align-items: center;
        justify-content: space-between;
    }

    footer > * {
        cursor: pointer;
    }

    button {
        background: transparent;
        color: inherit;
        padding: 0;
        border: 0;
    }
</style>

<footer>
    <a href={ link }>{ label }</a>
    <button id="toggle" aria-label="toggle cloudy and stormy">
        <Cloudy/>
        <Stormy/>
    </button>
</footer>

<script>
    const STORAGE = 'storm';
    const ATTR = 'data-storm';
    const $toggle = document.getElementById('toggle') as HTMLButtonElement;
    $toggle.addEventListener('click', () => {
        window.localStorage.setItem(STORAGE, String(window.localStorage.getItem(STORAGE) !== 'true'))
        updateUI();
    })

    function updateUI() {
        document.body.setAttribute(ATTR, String(window.localStorage.getItem(STORAGE)))
    }

    updateUI();
</script>