---
import Target from '@components/target.svg';
---

<style>
    input, button {
        font: inherit;
        border: 0;
        background: transparent;
        padding: 0;
    }

    button {
        cursor: pointer;
    }

    form {
        display: flex;
        gap: 8px;
        align-items: end;
        flex-wrap: wrap;
        --control-height: 2.5lh;
    }

    form > * {
        flex-grow: 1;
        flex-shrink: 1;
    }

    label {
        font-weight: bolder;
    }

    #field {
        display: flex;
        border: 1px solid var(--accent-color);
        margin-block-start: 8px;
        border-radius: 4px;
    }

    input {
        flex: 1;
        padding: 8px;
        height: var(--control-height);
    }

    input ~ button {
        padding: 8px;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        height: var(--control-height);
        transition: background-color .218s ease;
    }

    input ~ button:hover {
        background-color: color-mix(in oklch, var(--accent-color), transparent 90%);
    }

    input ~ button:not(:has(*)) {
        padding: 8px 16px;
    }

    input:not(:placeholder-shown) ~ #search,
    input:placeholder-shown ~ #geolocation {
        display: inline-flex;
    }

    input:not(:placeholder-shown) ~ #geolocation,
    input:placeholder-shown ~ #search {
        display: none;
    }

    button[type="submit"] {
        padding: 8px 16px;
        height: calc(var(--control-height) + 2px);
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bolder;
        background-color: var(--accent-color);
        color: color(from var(--accent-color) xyz
            round(up, min(1, max(0, 0.18 - y)))
            round(up, min(1, max(0, 0.18 - y)))
            round(up, min(1, max(0, 0.18 - y)))
        );
    }
</style>

<form id="form">
    <div>
        <label for="input">Location search</label>
        <div id="field">
            <input type="text" list="results" id="input" placeholder="New York, NY"/>
            <button id="search">Search</button>
            <button id="geolocation" title="Use geolocation" aria-label="Use geolocation">
                <Target/>
            </button>
        </div>
        <datalist id="results"></datalist>
    </div>
    <button type="submit" id="submit">Get RSS feed</button>
</form>