@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Krona+One|Megrim|Sulphur+Point&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --accent-r: 74;
  --accent-g: 20;
  --accent-b: 140;
  --accent-a: .7;
  --accent-rgb: rgb(var(--accent-r), var(--accent-g), var(--accent-b));
  --accent-rgba: rgb(var(--accent-r), var(--accent-g), var(--accent-b), var(--accent-a));
}

body {
  margin: 0;
  background: rgb(0, 0, 150);
  color: #fff;
  font-family: 'Sulphur Point', sans-serif;
}

section {
  position: relative;
}

section:first-child {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dz-logomark {
  fill: var(--accent-rgb);
  max-width: 600px;
  width: 30vh;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0 0;
  text-shadow: .3rem .3rem 0 var(--accent-rgb);
  position: absolute;
  letter-spacing: 1rem;
}