* {
  box-sizing: border-box;
}

:root {
  --accent-r: 74;
  --accent-g: 20;
  --accent-b: 140;
  --accent-a: .7;
  --accent-rgb: rgb(var(--accent-r), var(--accent-g), var(--accent-b));
  --accent-rgba: rgb(var(--accent-r), var(--accent-g), var(--accent-b), var(--accent-a));
  --offset: 4rem;
}

body {
  margin: 0;
  background: rgb(0, 0, 150);
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

header {
  min-height: calc(100vh - var(--offset));
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dz-logomark {
  fill: var(--accent-rgb);
  max-width: 600px;
  width: 14rem;
  margin-left: 1rem;
  position: absolute;
  align-self: center;
}

h1 {
  --letter-spacing: 2rem;
  font-size: 5rem;
  margin: 1rem calc(var(--letter-spacing) * -1) 0 0;
  text-shadow: .3rem .3rem 0 var(--accent-rgb);
  letter-spacing: var(--letter-spacing);
  z-index: 1;
  text-align: center;
  transform: scaleY(.9);
}

section {
  position: relative;
  margin-bottom: 4rem;
}

section:before {
  content: '';
  background-color: #333;
  height: calc(100% - var(--offset) * 2);
  top: var(--offset);
  width: 100%;
  position: absolute;
}

article {
  margin: 0 3rem;
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative;
  min-height: 100vh;
  border: 4px solid var(--accent-rgb);
}

h2 {
  margin: 0;
}